<script>
$(document).ready(function(){
	
	$('tr.mlist').click(function(){
		var id = $(this).attr('id') // tr에 설정된 id 값을 추출
	
		$.post('/getitem',{id:id},
				function(result){
				// 결과 처리할부분
				$('#id').val(id) // update, delete를 위해 id가 필요하다.
				$('#strNum').val(result.strNum)
				$('#strName').val(result.strName)
				$('#intGrade').val(result.intGrade)
				$('#strTel').val(result.strTel)
				$('#saveBtn').text('수정')
		})
	})
})
</script>
<table class='w3-table w3-border w3-hoverable'>
	<tr>
		<th>학번</th>
		<th>이름</th>
		<th>학년</th>
		<th>전화번호</th>
	</tr>
	<% list.forEach(function(item){ %>
	<tr class='mlist' id='<%- item._id %>'>
		<td><%- item.strNum %></td>
		<td><%- item.strName %></td>
		<td><%- item.intGrade %></td>
		<td><%- item.strTel %></td>
	</tr>
	<% }) %>
</table>




