<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>회원 정보 검색</h2>
	<table border=1>
		<tr>
			<th>이름</th>
			<th>주소</th>
			<th>전화번호</th>
			<th>나이</th>
			<th>!</th>
		</tr>
		<% list.forEach(function(item){ %>
		<tr>
			<td><a href='/update/<%- item._id %>'><%- item.strName %></a></td>
			<td><%- item.strAddr %></td>
			<td><%- item.strTel %></td>
			<td><%- item.intAge %></td>
			<td><a href='/delete/<%- item._id %>' >삭제</a></td>
		</tr>
		<% }) %>
	</table>
	<a href='/insert'>회원정보추가</a>
</body>
</html>







