<script>
$(document).ready(function(){
	$('tr').click(function(){
		var id = $(this).attr('id');
		$.get('/getstudent',{id:id},function(data){
			$("#pageTitle").text("학생정보 수정");
			$("#_id").val(data._id);
			$("#strNum").val(data.strNum);
			$("#strName").val(data.strName);
			$("#intAge").val(data.intAge);
			$("#strTel").val(data.strTel);
			
			// alert(data.strName)
			
		})
		// alert(id)
	})
})


</script>
<article class="w3-container w3-light-gray w3-margin">
	<section class="w3-white">
		<table class="w3-table w3-border w3-hoverable">
			<tr>
				<th>학번</th>
				<th>이름</th>
				<th>학년</th>
				<th>전화번호</th>
			</tr>
			<% list.forEach(function(item){ %>
			<tr id='<%- item._id %>' >
				<td><%- item.strNum %></td>
				<td><%- item.strName %></td>
				<td><%- item.intGrade %></td>
				<td><%- item.strTel %></td>
			</tr>
			<% }) %>
		</table>
	</section>
</article>